/*Barra de navegacion*/
.navbar{
    background-color: #f5f6f7;
    padding: 5px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/*Logo*/
.navbar-brand{
    /*background-color: lightblue;*/
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-brand p{
    margin-top: 10px;
}

/*Menu desplegable*/
.dropdown-menu{
    background-color: #002F6C;
}

.dropdown-menu > li > a{
    color: white;
}

/* Estilos para submenu */
.accordion-button {
  background-color: #002F6C;
  color: white;
}

/* sub-menu Estado cerrado */
.accordion-button::after {
  filter: brightness(0) invert(1); /* convierte la flecha en blanco */
}

/* sub-menu Estado abierto (expandido) */
.accordion-button:not(.collapsed)::after {
  filter: none; /* deja el color original o cámbialo como quieras */
}

/*Adaptable responsivo*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }

    .dropdown{
        text-align: center;
    }

    
}

@media screen and (max-width: 900px) {
  .navbar .nav-link {
    font-size: 14px;
  }
}



    
